.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card-wrapper {
    padding: 2px;
    margin-bottom: 160px;
    margin-top: 60px;
    overflow: hidden;
}

.card {
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

html.dark .card {
    border: solid 2px white;
}

@media (max-width: 1120px) {
    .wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .card {
        width: 500px;
        height: 900px;
        flex-flow: column;
        margin-bottom: unset !important;
    }
}

.card-minimal {
    display: none; /* Flex on mobile */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
