.ribbon {
    position: absolute;
    top: 20px;
    right: -40px;
    transform: rotate(45deg);
    padding: 10px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.ribbon--not-available {
    background: var(--red);
}

.ribbon--available {
    background: var(--green);
}