@import "../common/common.css";
@import "../common/card.css";

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.card {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: max-content;
    border: none !important;
    margin-bottom: 300px;
}

.hdiv {
    border: solid 1px black;
    width: 80%;
}

.content {
    text-indent: 5px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.content p {
    margin: 10px 10px 10px 10px;
}

html.dark .hdiv {
    border: solid 1px white;
}

@media (max-width: 500px) {
    .card {
        min-height: 90% !important;
    }
}