@import "../common/common.css";
@import "../common/card.css";

.post-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    overflow: auto;
    width: 100%;
    scrollbar-width: none;
}

.post-list::-webkit-scrollbar {
    display: none;
}

.post-item {
    text-align: center;
    padding: 10px;
}
